*{
    margin: 0;
    padding: 0;
    font-family: 'georgia',sans-serif;
    box-sizing:border-box;
}
.container {
    width:100%;
    height: 100vh;
    background-image: linear-gradient(45deg,rgba(225, 113, 205, 0.647),rgba(235, 237, 100, 0.651));
}
#modelBox {
    padding: 2%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;
    background: rgba(232, 134, 214, 0.75);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}
.offer-text {
    padding: 20px 40px 40px 40px;
    font-size: 14px;
    line-height: 22px;
}
.offer-text h2{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}
.offer-text p{
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    margin-top: 9%;
    margin-left: 70%;
    border-style: solid;
    border-color: red;
    cursor: grabbing;
    background: pink;
    border-radius: 4px;
    width: 44%;
    padding: 5%;
}
.button:hover {
    transform: scale(1.05);
    color: greenyellow;
    background-color: grey;
    transform: scale(1.05)
}
.close-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor:pointer;
}
